// Place all the styles related to the scoreboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {
  font-family: "Century Gothic", CenturyGothic, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 1px;
  color: white;
} 

.first_row{
  background-color: #ededf0; 
  text-align: center;
}

.collapsed_board {
  background-image: url('https://s15.postimg.org/mgab7j497/collapsed_Ad.jpg');
  background-size: 100% 100%;
  width: 75.5%;
  max-width: 970px;
  max-height: 66px;
  display: inline-block;
  text-align: left;
  color: white;
}

#collapsed_text {
  font-family: "Helvetica Neue", Helvetica, "Century Gothic", CenturyGothic, Arial, sans-serif;
  font-style: italic;
  padding-left: 5%;
  font-size: 1.9em;
  line-height: 66px;
  cursor: pointer;
}

.mainscoreboard {
  background: url('https://s21.postimg.org/8v330itif/mainscoreboardwithbud.jpg');
  width: 75.5%;
  max-width: 970px;
  max-height: 250px;
  min-width: 770px;
  display: inline-block;
  background-size: 100% 100%;
  position: relative;
}

.scoreboard {
  text-align: center; 
  background-color: #ededf0; 
  display: none;
}

.scores_column {
  padding-bottom: 3%
}

.score {
  float: left; 
  width: 40%;
  margin-bottom: -20px;
  margin-top: -10px;
  margin-right: 7%;
  text-align: left;
  cursor: pointer;
}

.score:hover > p {
  color: yellow;
  text-decoration: underline;
}

#click_out{
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: red;
  opacity:0;
  cursor: pointer;
}

.game_status {
  margin-top: -15%;
}

#game_detail {
  display: none;
}

.spacer{
  height: 25px;
}

.single_score{
  font-size: 5.9em; 
  padding: 0 0 0 0;
  color: white;
  font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
}

#single_game_status {
  font-size: 2em;
}

#home_column {
  margin-left: 3%;
}

.single_boxscore {
  background-color: black; 
  border: solid 1px; 
  border-color: #d2ad58;
  cursor: pointer;
  margin-top: -5px;
}

#home_team_name{
  margin-top: 9px;
}

#away_team_name{
  margin-top: 9px;
}

#can{
  margin-top: -13px; 
  margin-left: 25px;
}

.popup {
  background: image-url('popup.png') no-repeat;
  position: relative;
  z-index: 2; 
  height: 280px; 
  width: 475px;
}

#home_popup {
  display: none;
}

#away_popup {
  display: none;
}

#popup_left {
  right: 235px;
  bottom: 40px;
}

.home_popup_text {
  color: black;
  text-align: right;
  padding-right: 30px;
  font-size: 1.1em;
}

.away_popup_text{
  color:black; 
  text-align: left; 
  padding-left: 30px;
  font-size: 1.1em;
}

#popup_home_team_title{
  color:blue; 
  padding-top: 70px;
  font-size: 2em;
}

#popup_away_team_title{
  color:red; 
  padding-top: 70px;
  font-size: 2em;
}

#home_pitcher {
  position: fixed;
  left: 75px;
  bottom: 0px;
  z-index: 2;
}

#away_pitcher{
  position: fixed;
  right: 0px;
  bottom: 0px;
  z-index: 2;
}

#home_pitcher_name {
  position: absolute; 
  bottom: 5px; 
  right: 0px;
}

#away_pitcher_name {
  position: absolute; 
  bottom: 5px; 
  left: 0px;
}

#popup_right {
  right: 230px;
  bottom: 40px;
}

@media only screen and (max-width: 1230px) {

  p {
    font-size: .9em;
  }

  #collapsed_text {
    padding-left: 5%;
    font-size: 1.8em;
  } 

}

@media only screen and (max-width: 1140px) {

  p {
    font-size: .85em;
  }

    #collapsed_text {
    padding-left: 4%;
    font-size: 1.75em;
  }

}

@media only screen and (max-width: 1095px) {

  p {
    font-size: .80em;
  }


}


@media only screen and (max-width: 1095px) {

  p {
    font-size: .75em;
  }

}